<div class="d-flex">
  <div><h1>Reported Beaches</h1>

  <% @reports.each do |report| %>
    <div>
      <%= link_to bathing_site_path(report.bathing_site.id) do %>
      <%= report.bathing_site.site_name %>
      <% end %>
      <%= report.issue %>
      <%= report.comment %>

      <%= simple_form_for report, method: :patch do |f| %>
        <%= f.button :submit, 'Confirm' %>
      <% end %>

      <%= button_to "Dismiss", report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  </div>
  <div>
    <h1>Reported Reviews</h1>
    <% @report_reviews.each do |r| %>
      <div>
        <%= r.review.title %>
        <%= r.review.body %>
        <%= r.issue %>
        <%= r.comment %>

        <%# r has the report_review - r.id should be used in the user controller %>
        <%= button_to "Delete Review", review_path(r.review_id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= button_to "Dismiss", report_review_path(r.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>

</div>
<%# will copmlete the admin dashboard - complete the users controller. need to associate the @report_review with review to %>
<%# identify which review to delete for Delete Review button %>
<%# haven't tested functionality of the button as error keeps coming up %>
<%# complete the buttons on this page - looks like you need to find out how to call the instances in the user controller %>
<%# !! FOCUS ON USER CONTROLLER !! %>
