<div class="admin-body">
  <h4 class="text-center">Dashboard</h4>
  <h6 class="text-center">Pending reports: Reported Sites - <%= @reports.count %> . Reported Reviews - <%= @report_reviews.count %></h6>
  <div class="reports-container">
    <div class="reported-beaches-card">
        <h5>Reported Beaches</h5>

      <% @reports.each do |report| %>
        <div class="each-report">
          <div class="site-and-date">
            <%= link_to bathing_site_path(report.bathing_site.id) do %>
            <h6><%= report.bathing_site.site_name.upcase %></h6>
          <% end %>
            <h6><%= report.created_at.strftime("%B %d, %Y %I:%M %p") %></h6>
          </div>
          <div class="report-body">
            <p class="color-p"><i class="fa-solid fa-flag"></i>  <%= report.issue %></p>
            <p class="custom-p"><i class="fa-solid fa-comment"></i>  <%= report.comment.capitalize %></p>
          </div>
        </div>
          <div class="confirm-delete-buttons">
          <%= simple_form_for report, method: :patch do |f| %>
            <%= f.button :submit, 'Confirm', class: "button" %>
          <% end %>

          <%= button_to "Dismiss", report, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
          </div>
          <% end %>
    </div>

    <div class="reported-reviews-card">
      <h5>Reported Reviews</h5>
      <% @report_reviews.each do |r| %>
        <div>
          <div class="each-report">
            <div class="site-and-date">
              <h6><%= r.review.bathing_site.site_name.upcase %></h6>
              <h6><%= r.review.created_at.strftime("%B %d, %Y %I:%M %p") %></h6>
            </div>
            <div class="report-body">
              <p class="color-p"><%= r.review.title.capitalize %></p>
              <p class="custom-p"><%= r.review.body.capitalize %></p>
            </div>
          </div>
          <div class="each-report" class="site-and-date">
            <p class="color-p"><i class="fa-solid fa-flag"></i> <%= r.issue %></p>
            <p class="custom-p"><i class="fa-solid fa-comment"></i>  <%= r.comment.capitalize %></p>
          </div>
          <div class="confirm-delete-buttons">
            <%= button_to "Delete Review", review_path(r.review_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
            <%= button_to "Dismiss", report_reviews_path(r.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
