<% # Helper method to determine the color based on AQI value %>
<% def air_quality_color(aqi_value) %>
  <% case aqi_value %>
    <% when 1 %>
      <%= 'green' %>
    <% when 2 %>
      <%= '#d6d460' %>
    <% when 3 %>
      <%= 'orange' %>
    <% when 4 %>
      <%= 'red' %>
    <% when 5 %>
      <%= 'darkred' %>
    <% else %>
      <%= 'black' %>
  <% end %>
<% end %>

<% def air_quality_text(aqi_value) %>
  <% case aqi_value %>
    <% when 1 %>
      <%= 'good' %>
    <% when 2 %>
      <%= 'fair' %>
    <% when 3 %>
      <%= 'moderate' %>
    <% when 4 %>
      <%= 'poor' %>
    <% when 5 %>
      <%= 'very poor' %>
    <% else %>
      <%= 'unknown' %>
  <% end %>
<% end %>

<div class ="weather-info">
<% if @air_data.present? %>
  <% aqi_value = @air_data['list'][0]['main']['aqi'] %>
    <i class="fa-solid fa-air" style="vertical-align: middle;"></i>
    <h6 style="color: <%= air_quality_color(aqi_value) %>; " >
          Air quality is <%= air_quality_text(aqi_value) %>
    </h6>
  </div>
<% else %>
  <p>Air quality information not available.</p>
<% end %>
</div>
