
<% def air_quality_text(aqi_value) %>
  <% case aqi_value %>
    <% when 1 %>
      <%= 'good' %>
    <% when 2 %>
      <%= 'fair' %>
    <% when 3 %>
      <%= 'moderate' %>
    <% when 4 %>
      <%= 'poor' %>
    <% when 5 %>
      <%= 'very poor' %>
    <% else %>
      <%= 'unknown' %>
  <% end %>
<% end %>

  <% if @air_data.present? %>
    <% aqi_value = @air_data['list'][0]['main']['aqi'] %>
    <i class="fa-solid fa-air"></i>
    <h6>Air quality is <%= air_quality_text(aqi_value) %></h6>
<% else %>
  <p>Air quality information not available.</p>
<% end %>
