<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">
    <%= link_to "/#", class: "navbar-brand" do %>
      <img src="<%= asset_path('download.png') %>" alt="Waterpro Logo">

    <% end %>
  <div class="search-bar">
    <% unless current_page?(root_path) %>
        <%= render 'shared/search_bar' %>
    <% end %>
</div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <div class="d-flex align-items-center">
            <% if user_signed_in? %>
            <li>
              <h6>Hello <%= current_user.nickname.capitalize %>!</h6>
            </li>
        </div>
        <% end %>
          <li class="nav-item dropdown">
              <% if current_user && current_user.photo.attached?%>
                  <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= cl_image_tag current_user.photo.key, height: 50, width: 50, class: "avatar-large", crop: :fill%>
                  </a>
                  <% else %>
                  <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-bars fa-2xl" style="color: dark-blue;"></i>
                  </a>
                  <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
                <% if current_user && current_user.admin %>
                      <%= link_to "Reports", admin_dashboard_user_path(current_user), class: "dropdown-item" %>
                  <% end %>
                <% else %>
                  <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
                <% end %>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
