<div class="body">
  <% if @bathing_sites.present? %>
    <div class="card-container">
      <br>
    </div>
<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"> <%= @markers.inspect %></div>

    <div class="card-container">
      <% @bathing_sites.each do |bathing_site| %>
        <div class="card">
          <%= link_to bathing_site_path(bathing_site) do %>
            <div class="site-header">
              <h1><%= bathing_site.site_name.capitalize %></h1>
            </div>
          <% end %>
            <div class="card-body">
              <% if bathing_site.water_quality == "closed" %>
                  <h5 class="card-text">Average water quality over past 4 years - <%=  bathing_site.water_quality %></h5>
              <% else %>
                  <h5 class="card-text">Average water quality over past 4 years - <%=  bathing_site.water_quality %></h5>
              <% end %>
              <div class="container-btn-options">
                <%= render 'shared/buttons/back_button' %>
                <%= render 'shared/buttons/see_more' %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center mt-3">
      <h1>No bathing sites found.</h1>
    </div>
  <% end %>
</div>
