<div class="index-body">
  <h5 class="text-center">Check the current conditions near you...</h5>
  <% if @bathing_sites.present? %>
    <div class="card-container">
      <br>
    </div>
<div class="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>


    <div class="card-container">
      <% @bathing_sites.each do |bathing_site| %>
        <div class="card">
          <div>
            <%= link_to bathing_site_path(bathing_site) do %>
              <div class="site-header">
                <img src="<%= bathing_site.web_res_image_url %>" alt="Bathing Site Image">
                <h5 class="text-center" id="site-title"><%= bathing_site.site_name.capitalize %></h5>
              </div>
            <% end %>
                <% if bathing_site.water_quality == "closed" %>
                    <p class="card-text">Latest reported water quality: </p>
                    <h6 class="card-text mb-1"><%=  bathing_site.water_quality %></h6>
                <% else %>
                    <p class="card-text">Latest reported water quality: </p>
                    <h6 class="card-text mb-1"><%=  bathing_site.water_quality %></h6>

                <% end %>
          </div>
               <%= render 'shared/buttons/see_more', bathing_site: bathing_site %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center mt-3">
      <h5>No bathing sites found.</h5>
    </div>
  <% end %>
</div>
