<div class="body">
  <% if @bathing_sites.present? %>
    <div class="card-container">
    <br>
    </div>
    <div class="map-container">
      <!-- data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"  -->

      </div>
    <div class="card-container">
      <% @bathing_sites.each do |bathing_site| %>
        <div class="card">
          <%= link_to bathing_site_path(bathing_site) do %>
            <div class="site-header">
              <h1><%= bathing_site.site_name.capitalize %></h1>
            </div>
            <div class="card-body">
              <p class="card-text">Water Quality: <%= bathing_site.water_quality %></p>
              <p class="card-text">Tide: <%= bathing_site.tide %></p>
              <p class="card-text">Location: <%= bathing_site.site_name %></p>
              <div class="container-btn-options">
                <%= render 'shared/buttons/back_button' %>
                <%= render 'shared/buttons/tide_button' %>
                <%= render 'shared/buttons/weather_button' %>
                <%= render 'shared/buttons/get_directions_button' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="text-center mt-3">
      <h1>No bathing sites found.</h1>
    </div>
  <% end %>
