<div class="body">
    <div class="text-center">
      <h1><%= @bathing_site.site_name.capitalize %></h1>
    </div>
        <div class="card">
            <div class="img-icon">
                <div class="show-img">
                  <img src="https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=51.79093&lon=1.15624&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*" alt="map of bathing site">
                </div>
                <div class="icons">
                  <%# favourite button %>
                  <%= render "shared/buttons/favourite_button" %>
                  <a href="#"><i class="fa-regular fa-share-from-square fa-lg"></i></a>
                  <a href="#"><i class="fa-regular fa-comment-dots fa-lg"></i></a>
                </div>
            </div>
            <div class="card-info">
              <% if @bathing_site.pollution_level >= 1 %>
                      <h3><i class="fa-solid fa-triangle-exclamation"></i>       Pollution level: <%= @bathing_site.pollution_level %></h3>
              <% else %>
                      <h3><i class="fa-regular fa-circle-check"></i>       Pollution level: <%= @bathing_site.pollution_level %></h3>
              <% end %>

                <h3>    Tidal level: <%= @bathing_site.tide %></h3>
                <h3>    Region: <%= @bathing_site.region.capitalize %></h3>
            </div>
        </div>
    <div class="button-center">
      <p><%= render 'shared/buttons/get_directions_button' %></p>
      <p><%= render 'shared/buttons/reviews_button' %></p>
    </div>


</div>
