<h2><strong>Edit Your Review</strong></h2>
      <%= simple_form_for [@bathing_site, @review], html: { class: 'form' } do |f| %>
          <%= f.label :title %>
          <%= f.text_area :title, class: 'form-control' %>

          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control' %>

          <%= f.label :ratings %>
          <%= f.input :ratings, as: :integer, class: 'form-control' %>

        <%= f.submit :submit, class: 'btn submit-btn' %>
      <% end %>
