<div class="page-container">
    <h2>Submit a Review for <%= @bathing_site.site_name %></h2>
        <div class="form-container">
            <%= simple_form_for [@bathing_site, @review], method: :post, class: "form-horizontal" do |f| %>
                <%= f.label :title, class: 'labels' %>
                <%= f.text_area :title, class: 'form-control' %>

                <%= f.label :body, class: 'labels' %>
                <%= f.text_area :body, class: 'form-control' %>

                <% f.label :ratings, class: 'labels' %>
                <%= f.input :ratings, as: :integer, class: 'form-control' %>

                <%= f.submit :submit, class: 'btn submit-btn' %>

            <% end %>
        </div>
</div>
