<h1>Reported Beaches</h1>

<% @reports.each do |report| %>
  <div>
  <%= link_to bathing_site_path(report.bathing_site.id) do %>
  <%= report.bathing_site.site_name %>
  <% end %>
  <%= report.issue %>
  <%= report.comment %>

  <%= simple_form_for report, method: :patch do |f| %>
    <%= f.button :submit, 'Confirm' %>
  <% end %>

  <%= button_to "Dismiss", report, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
